:root {
  --sunglow: #fece2f;
  --monza: #db0a16;
  --black: #000000;
  --white: #fff;
  --electric-violet: #9d2ffe;
  --dodger-blue: #2fc7fe;
  --wild-strawberry: #fe2f90;
  --green-yellow: #90fe2f;
  --shadow: rgba(0, 0, 0, 0.7);
}
