<head>
    <meta charset="utf-8">
    <title>{{.Title}} {{if eq .IsHome false}} - {{$.Site.Title}}{{end}}</title>
    <meta name="description" content="{{if or .IsHome (not .Description)}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
    {{ $keywords := cond (or .IsHome (not .Keywords)) $.Site.Params.keywords .Keywords }}
    <meta name="keywords" content="{{delimit $keywords ", "}}" />
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{ if .IsTranslated }}
        {{ range .Translations }}
            <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
        {{ end }}
    {{ end }}
    <link rel="stylesheet" href="/main.css">
</head>